* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #2f1e87;
  position: absolute;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}